**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
.DS_Store
*.xcworkspace

**/Content/Collection/
**/Content/Developers/
**/Content/BirdOfPrey/Cinematics/
**/Content/BirdOfPrey/Maps/
**/Content/BirdOfPrey/Resources/
**/Content/BirdOfPrey/UI/
